.fleft {
    float: left;
}

.fright {
    float: right;
}

.clearfix {
    width: 100%;
    clear: both;
}

.left-toolbar {
    margin: 0 0 0 15px;
}

.left-toolbar .btn {
    margin: 0 0 0 5px;
}

.right-toolbar {
    margin: 0 15px 0 0;
}

#dt-status,
#dt-daterange {
    margin: 0 5px;
}
